node_modules/

# Логи и временные файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
Thumbs.db
*.log
*.tmp
*.temp

# Локальные конфигурации
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Редакторы и IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.project
.settings/
.editorconfig
.cursorrules
.cursorignore
.cursor/rules
.cursor/ignore
.cursor/settings
.cursor/settings.json
.cursor

# Системные файлы
desktop.ini
~$*
*~
