// line

.line{
    --line-top: 0;
    --line-bottom: 0;
    --line-left: 0;

    --line-width: 5px;
    --line-height: 100%;

    --line-color: var(--bs-white);

    position: relative;

    @include tablet{
        padding-left: 2rem;
    }

    @include desktop{
        padding-left: 5rem;
    }

    &::before{
        content: '';
        position: absolute;
        top: var(--line-top);
        left: var(--line-left);
        bottom: var(--line-bottom);

        width: var(--line-width);
        height: var(--line-height);
        background-color: var(--line-color);
    }

    &-purple{
        --line-color: #{$accent-purple};
    }

    &-blue{
        --line-color: #{$accent-blue};
    }

    &-pink{
        --line-color: #{$accent-pink};
    }

    &-cyan{
        --line-color: #{$accent-cyan};
    }
}