// Variables

// screen size
// sm: 576px;
// md: 768px;
// lg: 991.98px;


// @media (max-width: 767.98px) {
// } 

$primary: #8A2BE2; 
$primary-rgb: 138, 43, 226;
$secondary: #A109FE;
$tertiary: #7A59FF;
$accent: #56FFEB;
$dark:#090812;
$white:#ffffff;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "tertiary": $tertiary,
  "accent": $accent
);

:root {
    --bs-primary: #{$primary};
    --bs-secondary: #{$secondary};
    --bs-tertiary: #{$tertiary};

    --bs-body-font-family: "Plus Jakarta Sans", sans-serif;
    --bs-body-font-size:  1rem;
    --bs-body-line-height: 1.6;

    --bs-headings-line-height: 1.4;

    --bs-link-color: #{$primary};
    --bs-link-hover-color: #{darken($primary, 10%)};
    --bs-link-decoration: none;
  
    // Light theme
    --bs-body-bg: #{$white};
    --bs-body-color: #{$dark};

    //custom
    --accent-color: #{$accent};
    --gradient-neon: linear-gradient(90deg, var(--bs-primary), var(--bs-secondary));
    --button-gradient: linear-gradient(135deg, #7a42f4 0%, #4642f4 100%);
    
}

 // Dark theme
[data-bs-theme="dark"] {
  --bs-body-bg: #{$dark};
  --bs-body-color: #{$white};
}





