// bg

.bg {
    --bg-color: var(--bs-body-bg);

    background-color: var(--bg-color);

    &-img{
        --bg-img: linear-gradient(to bottom, #000000, #000000);
        --bg-img-size: cover;
        --bg-img-position: center;
        --bg-img-repeat: no-repeat;

        background-image: var(--bg-img);
        background-size: var(--bg-img-size);
        background-position: var(--bg-img-position);
        background-repeat: var(--bg-img-repeat);

        &-hero {
            --bg-img: url("../assets/images/bg/BG-hero.png");
            --bg-img-size: 100%;
            --bg-img-position: center bottom;

            --bg-color: #000;

            @supports (background-image: url("../assets/images/bg/BG-hero.webp")) {
                --bg-img: url("../assets/images/bg/BG-hero.webp");
            }

            @include tablet {
                --bg-img-size: 90%;
            }

            @include desktop {
                --bg-img-size: 75%;
            }
        }

        &-about {
            --bg-img: url("../assets/images/bg/BG-about.png");
            @supports (background-image: url("../assets/images/bg/BG-about.webp")) {
                --bg-img: url("../assets/images/bg/BG-about.webp");
            }
        }

        &-vr-market {
            --bg-img: url("../assets/images/bg/BG-Game.png");
            @supports (background-image: url("../assets/images/bg/BG-Game.webp")) {
                --bg-img: url("../assets/images/bg/BG-Game.webp");
            }
        }
    }
}