:root {
  --bs-primary: #8A2BE2;
  --bs-secondary: #A109FE;
  --bs-tertiary: #7A59FF;
  --bs-body-font-family: "Plus Jakarta Sans", sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-line-height: 1.6;
  --bs-headings-line-height: 1.4;
  --bs-link-color: #8A2BE2;
  --bs-link-hover-color: #701ac0;
  --bs-link-decoration: none;
  --bs-body-bg: #ffffff;
  --bs-body-color: #090812;
  --accent-color: #56FFEB;
  --gradient-neon: linear-gradient(90deg, var(--bs-primary), var(--bs-secondary));
  --button-gradient: linear-gradient(135deg, #7a42f4 0%, #4642f4 100%);
}

[data-bs-theme=dark] {
  --bs-body-bg: #090812;
  --bs-body-color: #ffffff;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    fill: var(--bs-white);
  }
  20% {
    fill: var(--bs-secondary);
  }
  40% {
    transform: scale(1.1);
    fill: var(--bs-tertiary);
  }
  60% {
    fill: var(--bs-primary);
  }
  80% {
    transform: scale(1);
    fill: var(--bs-tertiary);
  }
  100% {
    transform: scale(1);
    fill: var(--bs-secondary);
  }
}
.pulsing-star {
  animation: pulse 4s ease infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}
@keyframes neonPulse {
  0% {
    box-shadow: 0 0 5px var(--bs-primary), 0 0 10px var(--bs-primary);
  }
  50% {
    box-shadow: 0 0 10px var(--bs-primary), 0 0 20px var(--bs-primary), 0 0 30px var(--bs-secondary);
  }
  100% {
    box-shadow: 0 0 5px var(--bs-primary), 0 0 10px var(--bs-primary);
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (min-width: 991.98px) {
  body {
    padding-top: 120px;
  }
  body.menu-open {
    overflow: hidden;
  }
  body.menu-open main, body.menu-open section, body.menu-open footer {
    filter: blur(10px);
    transition: filter 0.5s ease;
  }
}
.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 46px;
  --bs-navbar-nav-link-padding-x: 1rem;
  --bs-navbar-nav-link-padding-y: 0.5rem;
  --bs-nav-link-font-size: 1.5rem;
  --bs-nav-link-color: rgba(255, 255, 255, 0.8);
  --bs-nav-link-hover-color: var(--bs-white);
  --bs-nav-link-active-color: var(--bs-primary);
  --bs-zindex-fixed: 1030;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  transition: all 0.3s ease;
}
@media (min-width: 991.98px) and (max-width: 1230px) {
  .navbar {
    --bs-nav-link-font-size: 1.1rem;
  }
}
@media (min-width: 991.98px) {
  .navbar {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    overflow: hidden;
    transition: background 0.3s ease, padding 0.3s ease, box-shadow 0.5s ease, opacity 0.3s ease;
  }
  .navbar:hover {
    opacity: 1;
    background: var(--bs-body-bg);
    box-shadow: 0 0 10px 0 var(--bs-primary);
  }
  .navbar:hover .navbar-highlight {
    opacity: 1;
    transform: translateY(0);
    animation: neonPulse 0.5s ease-in-out infinite;
  }
}
.navbar .navbar-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: var(--gradient-neon);
  transform: translateY(3px);
  opacity: 0;
  box-shadow: 0 0 10px var(--bs-primary), 0 0 20px var(--bs-primary), 0 0 30px var(--bs-secondary);
  transition: background 0.3s ease, transform 0.3s ease, opacity 0.3s ease;
}
.navbar.navbar-scrolled .navbar-brand {
  opacity: 0 !important;
}
@media (min-width: 991.98px) {
  .navbar.navbar-scrolled {
    --bs-navbar-padding-y: 15px;
    opacity: 1;
    pointer-events: auto;
  }
  .navbar.navbar-scrolled .navbar-brand,
  .navbar.navbar-scrolled .navbar-collapse {
    opacity: 1 !important;
    pointer-events: auto !important;
  }
}
.navbar.navbar-scrolled .navbar-highlight {
  opacity: 0.2;
  transform: translateY(0);
  animation: none;
  height: 1px;
}
.navbar-brand {
  --bs-navbar-brand-font-size: 0;
  width: 22px;
  height: 22px;
  opacity: 1;
  transition: filter 0.3s ease;
  will-change: transform, opacity;
}
.navbar-brand:hover {
  filter: drop-shadow(0 0 10px var(--bs-primary)) drop-shadow(0 0 20px var(--bs-secondary));
}
.navbar-toggler {
  --bs-navbar-toggler-padding-y: 10px;
  --bs-navbar-toggler-padding-x: 10px;
  --bs-navbar-toggler-border-color: transparent;
  --bs-navbar-toggler-icon-bg: none;
  --bs-navbar-toggler-focus-width: 0;
  position: fixed;
  top: var(--bs-navbar-padding-y);
  right: var(--bs-navbar-padding-x);
  z-index: calc(var(--bs-zindex-fixed) + 10);
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 10px;
  width: 32px;
  height: 16px;
  transition: top 0.3s ease, opacity 0.3s ease;
  opacity: 1;
  pointer-events: auto;
}
.navbar-scrolled .navbar-toggler {
  top: 15px;
}
.navbar-toggler span {
  position: relative;
  display: block;
  width: 100%;
  height: 3px;
  min-height: 3px;
  background-color: var(--bs-navbar-color);
  transition: width 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.navbar-toggler span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--gradient-neon);
  transition: width 0.3s ease-in-out;
}
.navbar-toggler span:nth-child(2) {
  width: 50%;
}
.navbar-toggler span:nth-child(3) {
  width: 70%;
}
.navbar-toggler:hover span {
  width: 100%;
}
.navbar-toggler:hover span:after {
  width: 100%;
}
.navbar-toggler[aria-expanded=true] {
  position: fixed;
}
.navbar-toggler[aria-expanded=true] span:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px);
  width: 100%;
}
.navbar-toggler[aria-expanded=true] span:nth-child(2) {
  opacity: 0;
  width: 100%;
}
.navbar-toggler[aria-expanded=true] span:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -11px);
  width: 100%;
}
.navbar-collapse {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: calc(var(--bs-zindex-fixed) - 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
  background: var(--bs-dark-bg-subtle);
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 991.98px) {
  .navbar-collapse {
    position: static;
    transform: translateX(0);
    background: transparent;
    padding: 0;
    height: auto;
  }
}
.navbar-collapse.collapsing {
  height: 100vh;
  transform: translateX(-100%);
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.navbar-collapse.collapsing .nav-item {
  opacity: 0;
}
.navbar-collapse.show {
  transform: translateX(0);
}
.navbar-collapse.show .nav-item {
  opacity: 1;
}
.navbar-collapse .navbar-nav {
  text-align: center;
  width: 100%;
}
@media (min-width: 991.98px) {
  .navbar-collapse .navbar-nav {
    flex-direction: row;
    text-align: right;
    width: auto;
  }
}
.navbar-collapse .nav-item {
  opacity: 0;
  transform: translateY(-50px);
  margin: 1rem 0;
}
.navbar-collapse .nav-item:nth-child(1) {
  transition: all 0.5s ease 0.4s;
}
.navbar-collapse .nav-item:nth-child(2) {
  transition: all 0.5s ease 0.5s;
}
.navbar-collapse .nav-item:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}
.navbar-collapse .nav-item:nth-child(4) {
  transition: all 0.5s ease 0.7s;
}
.navbar-collapse .nav-item:nth-child(5) {
  transition: all 0.5s ease 0.8s;
}
.navbar-collapse .nav-item:nth-child(6) {
  transition: all 0.5s ease 0.9s;
}
.navbar-collapse .nav-item:nth-child(7) {
  transition: all 0.5s ease 1s;
}
@media (min-width: 991.98px) {
  .navbar .nav-item {
    will-change: opacity;
  }
}
.navbar .nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0;
}
.navbar .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0.4rem;
  left: 0;
  width: 0;
  height: 2px;
  background: var(--gradient-neon);
  box-shadow: 0 0 10px var(--bs-primary);
  transition: width 0.3s ease;
}
.navbar .nav-link:hover {
  color: var(--bs-nav-link-hover-color);
  text-shadow: 0 0 10px var(--bs-primary);
}
.navbar .nav-link:hover::after {
  width: 100%;
}
.navbar .nav-link.active {
  color: var(--bs-nav-link-active-color);
  text-shadow: 0 0 15px var(--bs-primary);
}
.navbar .nav-link.active::after {
  width: 100%;
  box-shadow: 0 0 20px var(--bs-primary);
}

.btn-invest {
  --bs-btn-padding-x: 3rem;
  --bs-btn-padding-y: 1rem;
  --bs-btn-font-family: "Poppins", sans-serif;
  --bs-btn-font-size: 1.3rem;
  --bs-btn-font-weight: 900;
  --bs-btn-line-height: 1.4;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--button-gradient);
  --bs-btn-border-width: 0;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 8px;
  --bs-btn-hover-border-color: transparent;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  isolation: isolate;
  will-change: transform;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}
.btn-invest::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  z-index: -1;
  border-radius: calc(var(--bs-btn-border-radius) - 2px);
  background: var(--bs-btn-bg);
  transition: all 0.3s ease;
}
.btn-invest::after {
  content: "";
  position: absolute;
  z-index: -2;
  inset: 0;
  background: linear-gradient(90deg, var(--bs-primary), var(--bs-white), var(--bs-black), var(--bs-primary));
  background-size: 300% 100%;
  border-radius: 8px;
  animation: moveGradient 4s linear infinite;
}
.btn-invest:hover::after {
  filter: blur(10px);
  opacity: 0.8;
  animation: none;
}
.btn-invest:active {
  transform: translateY(2px);
}
.btn-invest:active::before {
  background: #60209f;
}
.btn-invest:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(122, 66, 244, 0.5);
}

.line {
  --line-top: 0;
  --line-bottom: 0;
  --line-left: 0;
  --line-width: 5px;
  --line-height: 100%;
  --line-color: var(--bs-primary);
  position: relative;
}
.line::before {
  content: "";
  position: absolute;
  top: var(--line-top);
  left: var(--line-left);
  bottom: var(--line-bottom);
  width: var(--line-width);
  height: var(--line-height);
  background-color: var(--line-color);
}
.line--accent {
  --line-color: var(--accent-color);
}

.layout {
  --section-bg-color: var(--bs-black);
  --section-bg-image: none;
  --section-content-border-color: var(--bs-primary);
  --section-content-border-width: 5px;
  --section-content-border-style: solid;
  background: var(--section-bg-color) var(--section-bg-image) no-repeat center center;
  background-size: cover;
}
.layout--about {
  --section-bg-image: url("../assets/images/bg/BG-about_uns.png");
}
.layout-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 75px;
  padding-left: 12px;
  text-align: center;
}
.layout-title {
  min-width: 0;
  font-size: clamp(1.5rem, 5vw, 3rem);
  font-weight: 700;
}
.layout-subtitle {
  order: -1;
  min-width: 0;
  text-transform: uppercase;
  font-size: 1.5rem;
}
.layout-text {
  margin-bottom: 2rem;
}

@media (min-width: 991.98px) {
  .layout-content {
    margin-bottom: 3rem;
    padding-left: 50px;
    text-align: left;
  }
  .layout-title {
    font-size: 2.5rem;
  }
  .layout-subtitle {
    font-size: 1.2rem;
  }
}
.hero {
  position: relative;
  min-height: 100vh;
  overflow: hidden;
  background: url(../assets/images/bg/BG-hero.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100%;
}
@media (min-width: 767.98px) {
  .hero {
    background-size: 80%;
  }
}
.hero .container {
  position: relative;
  z-index: 2;
}
.hero-content {
  border-left: 5px solid var(--bs-primary);
}
@media (min-width: 767.98px) {
  .hero-content {
    padding-left: 60px;
  }
}
.hero-title {
  margin-bottom: 65px;
  font-size: 1.4rem;
  line-height: 2;
  font-weight: 700;
  letter-spacing: 0.01em;
  color: #fff;
  text-transform: uppercase;
}
@media (min-width: 767.98px) {
  .hero-title {
    font-size: 2rem;
    line-height: 1.4;
  }
}
@media (min-width: 991.98px) {
  .hero-title {
    font-size: 3rem;
    line-height: 1.4;
  }
}
.hero-title svg {
  display: inline-block;
  margin: 0 10px;
}
.hero canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}